In [1]:
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [2]:
# Conexão com o DB e criação de um cursor
import sqlite3

conectar = sqlite3.connect('escola.db')
db_cursor = conectar.cursor()

In [3]:
# Criação das tabelas
sql_create = 'CREATE TABLE cursos'\
    '(id INTEGER PRIMARY KEY,'\
    'titulo VARCHAR(100), '\
    'categoria VARCHAR(140))'

db_cursor.execute(sql_create)

In [4]:
# Inserção de alguns registros
sql_insert = 'INSERT INTO  cursos VALUES (?, ?, ?)'

dados = [(1000, 'Ciencia de Dados', 'Data Science'),
         (1001, 'Big Data Fundamentos', 'Big data'),
         (1002, 'Python Fundamentos', 'Análise de Dados')]

for dado in dados:
    db_cursor.execute(sql_insert, dado)

In [5]:
# Confirmação da inserção e print dos valores
conectar.commit()
sql_select = 'SELECT * FROM cursos'
db_cursor.execute(sql_select)
dados = db_cursor.fetchall()

for linha in dados:
    print('Curso ID: %d, Titulo: %s, Categoria: %s \n' % linha)

Curso ID: 1000, Titulo: Ciencia de Dados, Categoria: Data Science

Curso ID: 1001, Titulo: Big Data Fundamentos, Categoria: Big data

Curso ID: 1002, Titulo: Python Fundamentos, Categoria: Análise de Dados

In [6]:
#Fechamento da conexão
conectar.close()